{% extends "base.html" %}

{% block title %}
  Login
{% endblock title %}
  Login
{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-primary text-white">Login</div>
          <div class="card-body">
            {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                Your username and password didn't match. Please try again.
              </div>
            {% endif %}
            {% if next %}
              {% if user.is_authenticated %}
                <div class="alert alert-warning" role="alert">
                  Your account doesn't have access to this page. To proceed, please login with an account that has access.
                </div>
              {% else %}
                <div class="alert alert-info" role="alert">
                  Please login to see this page.
                </div>
              {% endif %}
            {% endif %}
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">{{ form.username.label_tag }}</label>
                <div class="col-sm-8">
                  {{ form.username }}
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">{{ form.password.label_tag }}</label>
                <div class="col-sm-8">
                  {{ form.password }}
                </div>
              </div>
              <input type="submit" value="login" class="btn btn-primary">
              <input type="hidden" name="next" value="{{ next }}">
            </form>
            <p class="text-end mt-3">
              <a href="{% url 'password_reset' %}">Lost password?</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}