{% extends "base.html" %}

{% block title %}
  Reset password 
{% endblock title %}
  Reset password 
{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-primary text-white">Reset Password</div>
          <div class="card-body">
            {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                There was an error processing your form. Please try again.
              </div>
            {% endif %}
            <form method="post" action="{% url 'password_reset' %}">
              {% csrf_token %}
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">{{ form.email.label_tag }}</label>
                <div class="col-sm-8">
                  {{ form.email }}
                </div>
              </div>
              <input type="submit" value="Reset password" class="btn btn-primary">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}