{% extends "base.html" %}

{% block title %}
Customer List
{% endblock title %}

{% block content %}
<h1>Customer List</h1>

{% if customers %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Tax ID</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Account Balance</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td><a href="#">{{ customer.name }}</a></td>
            <td>{{ customer.tax_id }}</td>
            <td>{{ customer.phone_number }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.account_balance }}</td>
            <td>
                <a href="{% url 'customers:customer_update' customer.pk %}" class="btn btn-sm btn-info">Edit</a>
                <a href="{% url 'customers:customer-delete' customer.pk %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% for page_num in paginator.page_range %}
        {% if page_num == page_obj.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}
<a href="#">Create New Customer</a>
{% endblock content %}