{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Update Customer
{% endblock title %}

{% block content %}
<h1 class="h1">Update Customer</h1>

<form method="post">
    {% csrf_token %} {{ form|crispy }} <button type=" submit" class="btn btn-primary">Update Customer</button>
</form>

{% if form.errors %}
<div class="alert alert-danger">
    Please correct the errors below:
    <ul>
        {% for error in form.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock content %}