{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load widget_tweaks %}

{% block title %}
    Company Information
{% endblock title %}

{% block content %}
    
    <div class="container py-5">
        <h2 class="text-center mb-4">Company Information</h2>
        <form method="post" class="row g-3 needs-validation" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="col-md-6">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field.errors }}
                    {{ field|add_class:"form-control" }}
                    <div class="invalid-feedback">
                        Please provide a valid {{ field.label }}.
                    </div>
                </div>
            {% endfor %}
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
{% endblock %}
