{% load static %}
{% load i18n %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/svg" sizes="32x32" href="{% static '/images/logo.svg' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>

</head>

<body>
    {% include 'navbar.html' %}
    <div class="container-fluid">
        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% block content %}
            {% endblock content %}
        </main>
    </div>
    {% include 'footer.html' %}
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>

</html>