{% extends 'base.html' %}
{% load spacefilters %}
{% block title %}
    Chart Of Accounts
{% endblock title %}
{% block content %}


<input type="text" id="filter-input" placeholder="Filter by name or code" >

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h1 class="navbar-brand">Account List</h1>
        <div class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Reorganize the toolbar operations -->
                <li class="nav-item">
                    <button class="btn btn-info" id="exportCsvBtn">
                        <i class="bi bi-file-earmark-text"></i> Export CSV
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-success" id="importCsvBtn">
                        <i class="bi bi-upload"></i> Import CSV
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary me-2">
                        <i class="bi bi-plus"></i> New Account
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-secondary me-2">
                        <i class="bi bi-pencil"></i> Edit Account
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-danger me-2">
                        <i class="bi bi-trash"></i> Delete Selected
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>


<table id="example-table" class="table table-bordered" >
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Level</th>
            <th>Account Type</th>
            <th>Description</th>
            <th>Opening Balance</th>
            <th>Debit Only</th>
            <th>Parent Account</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
            <tr>
                <!-- Set the records that have level 0 to bold -->
                {% if account.level == 0 %}
                    <td><strong>{{ account.code }}</strong></td>
                    <td><strong>{{ account.name }}</strong></td>
                    <td><strong>{{ account.level }}</strong></td>
                    <td><strong>{{ account.account_type }}</strong></td>
                    <td><strong>{{ account.description }}</strong></td>
                    <td><strong>{{ account.opening_balance }}</strong></td>
                    <td><strong>{{ account.debit_only }}</strong></td>
                    <td><strong>{{ account.parent_account }}</strong></td>
                    <td><strong>{{ account.notes }}</strong></td>
                {% else %}
                    <!-- Add spaces to the records that have level greater than 0 according to their level -->
                    <!-- Use the built-in widthratio template tag to multiply the level by 3 and assign it to a variable called spaces -->
                    {% widthratio account.level 1 4 as spaces %}
                    <!-- Use the HTML   entity to repeat a space character the number of times specified by spaces -->
                    <td>{% for i in spaces %}&nbsp;{% endfor %}{{ account.code }}</td>
                    <td>{% for i in spaces %}&nbsp;{% endfor %}{{ account.name }}</td>
                    <td>{% for i in spaces %}&nbsp;{% endfor %}{{ account.level }}</td>
                    <td>{% for i in spaces %}&nbsp;{% endfor %}{{ account.account_type }}</td>
                    <td>{% for i in spaces %}&nbsp;{% endfor %}{{ account.description }}</td>
                    <td>{% for i in spaces %}&nbsp;{% endfor %}{{ account.opening_balance }}</td>
                    <td>{% for i in spaces %}&nbsp;{% endfor %}{{ account.debit_only }}</td>
                    <td>{% for i in spaces %}&nbsp;{% endfor %}{{ account.parent_account }}</td>
                    <td>{% for i in spaces %}&nbsp;{% endfor %}{{ account.notes }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    document.getElementById('exportCsvBtn').addEventListener('click', function() {
        // Redirect to the export CSV URL
        window.location.href = "{% url 'COA:export_csv' %}";
    });
    document.getElementById('importCsvBtn').addEventListener('click', function() {
        // Redirect to the import CSV URL
        window.location.href = "{% url 'COA:import_csv' %}";
    });




    // Define a function that filters the table rows by a given value
function filterTableRows(value) {
  // Convert the value to uppercase
  value = value.toUpperCase();
  // Loop through all the table rows
  $("#example-table > tbody > tr").each(function() {
    // Get the text of all the table cells in the current row
    var rowText = $(this).text().toUpperCase();
    // Check if the row text contains the value
    if (rowText.indexOf(value) > -1) {
      // Show the row
      $(this).show();
    } else {
      // Hide the row
      $(this).hide();
    }
  });
}

// Select the input element by id
var input = $("#filter-input");
// Attach a keyup event handler to the input element
input.on("keyup", function() {
  // Get the input value
  var value = input.val();
  // Filter the table rows by the input value
  filterTableRows(value);
});
</script>

  
{% endblock %}
